*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//border: 1px solid red;
}

body{
	
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

@font-face{
	font-family: 'GothamRounded Book';
	src: url(../fonts/GothamRounded-Book.otf);
}

@font-face{
	font-family: 'GothamRounded MediumItalic';
	src: url(../fonts/GothamRounded-MediumItalic.otf);
}

@font-face{
	font-family: 'GothamRounded Medium';
	src: url(../fonts/GothamRounded-Medium.otf);
}

.container{
	width: 71%;
	margin: 0 auto;
}

.bx-wrapper {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1{
	font-size: 40px;
	font-family: GothamRounded Book;
	text-transform: uppercase;
	letter-spacing: 10px;
}

h4{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: GothamRounded Medium;
	color: #333333;
}

p{
	font-size: 14px;
	font-family: GothamRounded Medium;
	color: #8c9398;
	letter-spacing: 1px;
	line-height: 2em;
}

header{
	background: url(../img/bg.png) no-repeat center top / cover;
	height: 100vh;

	> .container{
		padding-top: 60px;
	}

	.navbar{
		li{
			text-align: right;
		}
	}

	.main{
		margin-top: 170px;
		text-align: center;

		> h1{
			
			color: #333333;
			margin-bottom: 30px;
		}

		.days{
			color: #999999;
		}

		> p{
			font-size: 15px;
			font-family: GothamRounded Book;
			color: #999999;
			margin-bottom: 95px;
			letter-spacing: 3px;
		}

		.for{
			font-family: GothamRounded MediumItalic;
		}

		> a{
			font-size: 15px;
			color: #fff;
			font-family: GothamRounded Medium;
			text-transform: uppercase;
			padding: 25px 40px;
			background: #33cccc;
			border-radius: 5px;
			letter-spacing: 3px;
			box-shadow: 0px -3px 0px #339999 inset;
			transition: 0.3s;
		}

		> a:hover{
			background: #339999;
		}
	}
}

.title{
	width: 70%;
	margin: 0 auto;

	h4{
		
	}

	p{
		
		margin: 0 auto;
		
	}

	span{
		color: #333333;
	}

	hr{
		//width: 70%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 70px;
		background: url(../img/hr-image.png) no-repeat center top;
		border: none;
		height: 13px;
	}
}

#first{
	text-align: center;
	background: #f3f5f8;

	> .container{
		padding-top: 105px;
		padding-bottom: 130px;
	}
}

#second{
	text-align: center;
	background: #fff;

	> .container{
		padding-top: 100px;
		padding-bottom: 120px;
	}

	.services{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.services_card{
			width: 30%;
			h4{
				
				padding-bottom: 30px;
				padding-top: 50px;
				


			}

			p{
				margin-top: 30px;
			
			}
		}
	}
}

#third{
	display: flex;
	flex-direction: row;

	> div{
		width: 50%;
	}

	.iphone{
		background: url(../img/iphone.png) no-repeat 350px 0px, 
					#f3f5f8;
	}

	.text{
		text-align: center;
		padding-top: 130px;
		padding-bottom: 130px;
		padding-left: 2%;
		padding-right: 8%;
	}
}

#fourth{
	background: url(../img/bg-problems.png) no-repeat center top / cover;
	background-position: 50% 40%;

	> .container{
		padding-top: 80px;
		padding-bottom: 140px;
		text-align: center;
		color: #fff;
		font-family: GothamRounded Book;
		text-transform: uppercase;

		h2{
			font-size: 40px;
			font-weight: normal;
			letter-spacing: 7px;
			margin-bottom: 25px;
		}

		h3{
			font-size: 25px;
			font-weight: normal;
			letter-spacing: 7px;
		}

		span{
			font-family: GothamRounded MediumItalic;
		}
	}
}

#fifth{
	background: #fff;

	> .container{
		padding-top: 100px;
		padding-bottom: 100px;

		.features{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.feature_card{
				width: 30%;
				text-align: center;

				img{
			        min-width:100%;
			        height: 240px;
				}

				h4{
					
					padding-bottom: 20px;
					padding-top: 40px;
					
				}

				p{
					margin-top: 30px;
					
				}
			}
		}
	}
}

#sixth{
	background: #242830;
	> .container{
		text-align: center;
		padding-top: 90px;
		padding-bottom: 90px;

		a.button{
			background: #242830;
			color: white;
			font-family: GothamRounded Medium;
			border: 2px solid white;
			border-radius: 2px;
			padding: 30px 40px;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	
}

#seventh{

	> .container{
		text-align: center;
		padding-bottom: 100px;
		padding-top: 85px;

		.team{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.team_card{
				width: 30%;
				text-align: center;

				img{
					margin: 0 auto;
			        height: 240px;//different height!
				}

				h4{
					padding-bottom: 20px;
					padding-top: 40px;
					position: relative;

				}

				h4:after{
					position: absolute;
					bottom: 0;
					left: 45%;
					right: 45%;
					border-bottom: 1px solid #3dc9b3;
					content: "";
					border-width: 5px;
				}

				p{
					margin-top: 30px;
				
			}
		}
	}
}

#eighth{
	background: url(../img/form-bg.png) no-repeat center top / cover;
	background-position: 10% 48%;

	> .container{
		padding-top: 115px;
		padding-bottom: 155px;

		.form{
			text-align: center;
			width: 80%;
			margin: 0 auto;

			h4{
				
				color: #fff;
				margin-top: 20px;
				margin-bottom: 45px;
			}

			input[type=text]{
				font-size: 15px;
				font-family: GothamRounded Medium; 
				background-color: transparent;
				padding: 30px 25px;
				border-radius: 5px;
				color: #fff;
				width: 40%;
			}

			input[type=submit]{
				margin-left: 10px;
				font-size: 15px;
				color: white;
				background: #3dc9b3;
				box-shadow: 0px -3px 0px #339999 inset;
				border-radius: 5px;
				font-family: GothamRounded Medium; 
				padding: 30px 25px;
				border: none;
				transition: 0.3s;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			
			input[type=submit]:hover{
				background: #339999;
				cursor: pointer;
			}

		}
	}
}

#ninth{
	background: #f3f5f8;
	> .container{
		text-align: center;
		padding-top: 125px;
		padding-bottom: 110px;
	}

	.icons{
		margin-top: 100px;

	}
	
	.mid{
		margin-right: 20px;
		margin-left: 20px;
	}

	.contacts{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.contact_card{
			background: #fff;
			width: 30%;
			padding-top: 30px;
			padding-bottom: 30px;

			img{
				margin-bottom: 20px;
			}

			h4{
				margin-bottom: 30px;
			}

		}
	}
}

footer{
	background: #242830;
	
	> .container{
		padding-top: 50px;
		padding-bottom: 50px;

		.info{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			a{
				color: #a1a9b0;
			}
				

			.terms{
				font-family: GothamRounded Book;
				color: #f5f5f5;
				
			
			}

			.designed{
				color: #f5f5f5;
				font-family: GothamRounded Book;

				span:first-child{
					color: #a1a9b0;
				}
				
				span:last-child{
					color: #a1a9b0;
					font-family: GothamRounded MediumItalic;
				}				
			}
		}
	}
}