*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//border: 1px solid red;
}

body{
	color: red;
	li{
		list-style: none;
	}

	a{
		text-decoration: none;
	}

	input:focus{
		outline: none;
	}

	p{
		font-size: 14pt;
		font-family: GothamRounded Medium;
		color: #8c9398;
		//letter-spacing: 1px;
		line-height: 1.3em;
	}

	h1{
		font-size: 40pt;
		font-family: GothamRounded Book;
		text-transform: uppercase;
		letter-spacing: 10px;
	}

	h4{
		font-size: 15pt;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-family: GothamRounded Medium;
		color: #333333;
		
	}

	.container{
		width: 71%;
		margin: 0 auto;
	}

	.bx-wrapper {
	  -moz-box-shadow: none !important;
	  -webkit-box-shadow: none !important;
	  box-shadow: none !important;
	}

	.underlined_headings{
		h4{
			position: relative;
		}

		h4:before{
			position: absolute;
			bottom: 0;
			left: 45%;
			right: 45%;
			border-bottom: 1px solid #3dc9b3;
			content: "";
			border-width: 5px;

		}
	}
}



@font-face{
	font-family: 'GothamRounded Book';
	src: url(../fonts/GothamRounded-Book.otf);
}

@font-face{
	font-family: 'GothamRounded MediumItalic';
	src: url(../fonts/GothamRounded-MediumItalic.otf);
}

@font-face{
	font-family: 'GothamRounded Medium';
	src: url(../fonts/GothamRounded-Medium.otf);
}



header{
	background: url(../img/bg.png) no-repeat center top / cover;
	height: 100vh;

	> .container{
		padding-top: 60px;
		height: 100%;
	}

	.heading{
		li{
			text-align: right;
		}
	}

	.main{
		margin-top: 170px;
		text-align: center;

		> h1{
			
			color: #333333;
			margin-bottom: 30px;
		}

		.days{
			color: #999999;
		}

		> p{
			font-size: 15pt;
			font-family: GothamRounded Book;
			color: #999999;
			margin-bottom: 95px;
			letter-spacing: 3px;
		}

		.for{
			font-family: GothamRounded MediumItalic;
		}

		> a{
			font-size: 15pt;
			color: #fff;
			font-family: GothamRounded Medium;
			text-transform: uppercase;
			padding: 25px 40px;
			background: #33cccc;
			border-radius: 5px;
			letter-spacing: 3px;
			box-shadow: 0px -3px 0px #339999 inset;
			transition: 0.3s;
		}

		> a:hover{
			background: #339999;
		}
	}
}

.title{
	width: 70%;
	margin: 0 auto;

	p{
		margin: 0 auto;	
	}

	span{
		color: #333333;
	}

	hr{
		//width: 70%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 70px;
		background: url(../img/hr-image.png) no-repeat center top;
		border: none;
		height: 13px;
	}
}

#first{
	text-align: center;
	background: #f3f5f8;

	> .container{
		padding-top: 105px;
		padding-bottom: 130px;

		p{
			line-height: 2em !important;
		}
	}
}

#second{
	text-align: center;
	background: #fff;

	> .container{
		padding-top: 100px;
		padding-bottom: 120px;
	}

	.services{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.services_card{
			width: 30%;

			h4{
				padding-bottom: 30px;
				padding-top: 50px;
				letter-spacing: 1px !important;
			}

			p{
				margin-top: 30px;
			}
		}
	}
}

#third{
	display: flex;
	flex-direction: row;

	.iphone{
		background: url(../img/iphone.png) no-repeat 350px 50px, 
					#f3f5f8;
		width: 47%;
	}

	.text{
		text-align: center;
		padding-top: 130px;
		padding-bottom: 130px;
		padding-left: 6%;
		padding-right: 16%;
		width: 53%;

		p{
			margin-bottom: 30px;
			text-align: justify;
		}
	}
}

#fourth{
	background: url(../img/bg-problems.png) no-repeat center top / cover;
	background-position: 50% 40%;

	> .container{
		padding-top: 80px;
		padding-bottom: 140px;
		text-align: center;
		color: #fff;
		font-family: GothamRounded Book;
		text-transform: uppercase;

		h2{
			font-size: 40pt;
			font-weight: normal;
			letter-spacing: 7px;
			margin-bottom: 25px;
		}

		h3{
			font-size: 25pt;
			font-weight: normal;
			letter-spacing: 7px;
		}

		span{
			font-family: GothamRounded MediumItalic;
		}
	}
}

#fifth{
	background: #fff;

	> .container{
		padding-top: 100px;
		padding-bottom: 100px;
		position: relative;

		.close1{
			position: absolute;
			top: -31px;
			left: 47.5%;
			margin: 0 auto;
			padding: 21px 20px;
			background: #3dc9b3;
			border-radius: 50%;
			border: none;
		}


		.features{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.feature_card{
				width: 32%;
				text-align: center;

				img{
			        min-width:100%;
			        height: 240px;
				}

				h4{
					
					padding-bottom: 20px;
					padding-top: 40px;
					
				}

				p{
					margin-top: 30px;
					
				}
			}
		}
	}
}

#sixth{
	background: #242830;
	> .container{
		text-align: center;
		padding-top: 90px;
		padding-bottom: 90px;

		a.button{
			background: #242830;
			color: white;
			font-family: GothamRounded Medium;
			border: 2px solid white;
			border-radius: 2px;
			padding: 30px 40px;
			font-size: 15pt;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	
}

#seventh{

	.bx-viewport{
		//padding-bottom: 50px;
	}

	> .container{
		text-align: center;
		padding-bottom: 100px;
		padding-top: 85px;

		.team{
			display: flex;
			flex-direction: row;
			justify-content: space-between;



			.team_card{
				width: 32%;
				text-align: center;

				> img{
					margin: 0 auto;
			        height: 240px;//different height!
				}

				h4{
					padding-bottom: 20px;
					padding-top: 40px;
				}

				p{
					margin-top: 30px;
				}

				.icons{

					margin-top: 35px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					margin-bottom: 30px;
					
					.mid{
						margin-right: 10px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

#eighth{
	background: url(../img/form-bg.png) no-repeat center top / cover;
	background-position: 10% 48%;

	> .container{
		// padding-top: 115px;
		// padding-bottom: 155px;

		.form{
			text-align: center;
			width: 80%;
			margin: 0 auto;
			padding-top: 115px;
			padding-bottom: 155px;

			h4{
				
				color: #fff;
				margin-top: 20px;
				margin-bottom: 45px;
			}

			input[type=text]{
				font-size: 15pt;
				font-family: GothamRounded Medium; 
				background-color: transparent;
				padding: 30px 25px;
				border-radius: 5px;
				color: #fff;
				width: 40%;
			}

			input[type=submit]{
				margin-left: 10px;
				font-size: 15pt;
				color: white;
				background: #3dc9b3;
				box-shadow: 0px -3px 0px #339999 inset;
				border-radius: 5px;
				font-family: GothamRounded Medium; 
				padding: 30px 25px;
				border: none;
				transition: 0.3s;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			
			input[type=submit]:hover{
				background: #339999;
				cursor: pointer;
			}

		}
	}
}

#ninth{
	background: #f3f5f8;
	> .container{
		text-align: center;
		padding-top: 125px;
		padding-bottom: 110px;
		position: relative;

		.close2{
			position: absolute;
			top: -31px;
			left: 47.5%;
			margin: 0 auto;
			padding: 21px 20px;
			background: #3dc9b3;
			border-radius: 50%;
			border: none;
		}

		.icons{
			margin-top: 100px;
		}
		
		.mid{
			margin-right: 20px;
			margin-left: 20px;
		}

		.contacts{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.contact_card{
				background: #fff;
				width: 32%;
				padding-top: 30px;
				padding-bottom: 30px;

				img{
					margin-bottom: 20px;
				}

				h4{
					margin-bottom: 30px;
					color: #3dc9b3;
				}

				

			}

			.contact_card:last-child > p{
				color: black;
			}
		}
	}

	
}

footer{
	background: #242830;
	
	> .container{
		padding-top: 50px;
		padding-bottom: 50px;

		.info{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			a{
				color: #a1a9b0;
			}
				

			.terms{
				font-family: GothamRounded Book;
				color: #f5f5f5;
				
			
			}

			.designed{
				color: #f5f5f5;
				font-family: GothamRounded Book;

				span:first-child{
					color: #a1a9b0;
				}
				
				span:last-child{
					color: #a1a9b0;
					font-family: GothamRounded MediumItalic;
				}				
			}
		}
	}
}

//Burger Menu

.heading{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.heading .navbar{
	display: flex;
	flex-direction: row;
	transition: .8s;
	right: -50px;

	li{
		font-size: 18px;
		margin-left: 30px;
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: .5s;
		font-family: GothamRounded Book;

		&:not(:last-child){
			position: relative;
			//right: -50px;
		}

		a{
			color: black;
		}
	}

	.hidden{
		opacity: .0;
	}

	.burger{

		.container {
		    display: inline-block;
		    cursor: pointer;
		    padding: 0;
		}

		.bar1, .bar2, .bar3 {
		    width: 35px;
		    height: 5px;
		    background-color: #333;
		    margin: 6px 0;
		    transition: 0.4s;
		    border-radius: 3px;
		}

		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
		    transform: rotate(-45deg) translate(-9px, 6px);
		}

		.change .bar2 {opacity: 0;}

		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-8px, -8px);
		    transform: rotate(45deg) translate(-8px, -8px);
		}
	}
}

