*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid red;
}

body{
	
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

@font-face{
	font-family: 'GothamRounded Book';
	src: url(../fonts/GothamRounded-Book.otf);
}

@font-face{
	font-family: 'GothamRounded MediumItalic';
	src: url(../fonts/GothamRounded-MediumItalic.otf);
}

@font-face{
	font-family: 'GothamRounded Medium';
	src: url(../fonts/GothamRounded-Medium.otf);
}

.container{
	width: 71%;
	margin: 0 auto;
}

header{
	background: url(../img/bg.png) no-repeat center top / cover;
	height: 100vh;

	> .container{
		padding-top: 60px;
	}

	.navbar{
		li{
			text-align: right;
		}
	}

	.main{
		margin-top: 170px;
		text-align: center;

		> h1{
			font-size: 40px;
			font-family: GothamRounded Book;
			text-transform: uppercase;
			letter-spacing: 10px;
			color: #333333;
			margin-bottom: 30px;
		}

		.days{
			color: #999999;
		}

		> p{
			font-size: 15px;
			font-family: GothamRounded Book;
			color: #999999;
			margin-bottom: 95px;
			letter-spacing: 3px;
		}

		.for{
			font-family: GothamRounded MediumItalic;
		}

		> a{
			font-size: 15px;
			color: #fff;
			font-family: GothamRounded Medium;
			text-transform: uppercase;
			padding: 25px 40px;
			background: #33cccc;
			border-radius: 5px;
			letter-spacing: 3px;
			box-shadow: 0px -3px 0px #339999 inset;
			transition: 0.3s;
		}

		> a:hover{
				background: #339999;
		}
	}
}

.title{
	width: 70%;
	margin: 0 auto;

	h4{
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-family: GothamRounded Medium;
		color: #333333;
	}

	p{
		font-size: 14px;
		font-family: GothamRounded Medium;
		margin: 0 auto;
		//margin-bottom: 130px;
		color: #999999;
		//width: 70%;
		letter-spacing: 1px;
		line-height: 2em;
	}

	span{
		color: #333333;
	}

	hr{
		//width: 70%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 70px;
		background: url(../img/hr-image.png) no-repeat center top;
		border: none;
		height: 13px;
	}
}

#first{
	text-align: center;
	background: #f3f5f8;

	> .container{
		padding-top: 105px;
		padding-bottom: 130px;
	}
}

#second{
	text-align: center;
	background: #fff;

	> .container{
		padding-top: 100px;
		padding-bottom: 120px;
	}

	.services{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.services_card{
			width: 30%;
			h5{
				font-size: 15px;
				font-family: GothamRounded Medium;
				text-transform: uppercase;
				padding-bottom: 30px;
				padding-top: 50px;
				color: #333333;
			}

			p{
				font-size: 14px;
				margin-top: 30px;
				color: #999999;
				font-family: GothamRounded Medium;
				letter-spacing: 1px;
				line-height: 1.5em;
			}
		}
	}
}

#sixth{
	background: #333333;
	> .container{
		text-align: center;
		padding-top: 60px;
		padding-bottom: 60px;

		a.button{
			background: #333333;
			color: white;
			font-family: GothamRounded Medium;
			border: 2px solid white;
			border-radius: 2px;
			padding: 30px 40px;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	
}

#eighth{
	background: url(../img/form-bg.png) no-repeat center top / cover;
	background-position: 10% 48%;

	> .container{
		padding-top: 115px;
		padding-bottom: 155px;

		.form{
			text-align: center;
			width: 70%;
			margin: 0 auto;

			h4{
				font-family: GothamRounded Medium; 
				font-size: 15px;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 3px;
				margin-top: 20px;
				margin-bottom: 45px;
			}

			input[type=text]{
				font-size: 15px;
				font-family: GothamRounded Medium; 
				background-color: transparent;
				padding: 30px 25px;
				color: #fff;
			}

			input[type=submit]{
				font-size: 15px;
				color: white;
				background: #3dc9b3;
				border-radius: 2px;
				font-family: GothamRounded Medium; 
				padding: 30px 25px;
			}
		}
	}
}

#ninth{
	background: #f3f5f8;
	> .container{
		text-align: center;
		padding-top: 125px;
		padding-bottom: 110px;
	}

	.icons{
		margin-top: 100px;

	}
	
	.mid{
		margin-right: 20px;
		margin-left: 20px;
	}

	.contacts{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.contact_card{
			background: #fff;
			width: 30%;
			padding-top: 30px;
			padding-bottom: 30px;

			img{
				margin-bottom: 20px;
			}

			h4{
				font-family: GothamRounded Medium;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #3dc9b3;
				margin-bottom: 30px;
			}

			p{
				font-family: GothamRounded Medium;
				color: #8c9398;
			}
		}
	}
}

footer{
	background: #242830;
	
	> .container{
		padding-top: 50px;
		padding-bottom: 50px;

		.info{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			a{
				color: #a1a9b0;
			}
				

			.terms{
				font-family: GothamRounded Book;
				color: #f5f5f5;
				
			
			}

			.designed{
				color: #f5f5f5;
				font-family: GothamRounded Book;

				span:first-child{
					color: #a1a9b0;
				}
				
				span:last-child{
					color: #a1a9b0;
					font-family: GothamRounded MediumItalic;
				}				
			}
		}
	}
}